<header>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <a routerLink="/" routerLinkActive="active" class="logo">
        <img src="assets/quix-logo.svg" alt="Quix" height="32" />
      </a>
      <span [style.fontSize.px]="18" class="ms-2 mt-2">TEMPLATES</span>
    </div>
    <button mat-icon-button fxHide.gt-sm (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxLayout="row wrap" fxHide.lt-md>
      <a mat-raised-button color="primary" class="small me-2"
        [href]="'https://portal.platform.quix.ai/pipeline?workspace=' + workspaceId + '&token=' + ungatedToken"
        target="_blank">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="assets/quix.svg" alt="Quix" height="12" class="me-2" />
          <span>Look under the hood</span>
        </div>
      </a>
      <a mat-raised-button color="accent" class="small" fxLayout="row" fxLayoutAlign="center center"
        href="https://github.com/quixio/template-predictive-maintenance" target="_blank">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="assets/github.svg" alt="Quix" height="16" class="me-2" />
          <span>View repo</span>
        </div>
      </a>
    </div>
  </mat-toolbar>
</header>
<mat-drawer-container>
  <mat-drawer mode="side" fxLayout="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="480px"
    [opened]="!media.isActive(['sm', 'xs'])" class="mat-elevation-z4" #sidenav>
    <div class="p-5">
      <div class="mb-5">
        <h1 class="mb-1">Real-time Failure Prediction for a 3D Printer</h1>
        <p class="mb-3 text-body text-uppercase">Project template</p>
        <p class="mat-body-1">
          This project demonstrates how easy it is to do real-time predictive analytics on any machine with sensors attached. It simulates three temperature sensors on a fleet of 3D printers.
        </p>
        <div fxLayout="row">
          <a mat-raised-button color="primary" class="small me-2" fxLayout="row" fxLayoutAlign="center center"
            [href]="'https://portal.platform.quix.ai/pipeline?workspace=' + workspaceId + '&token=' + ungatedToken"
            target="_blank">
            <div fxLayout="row" fxLayoutAlign="start center">
              <img src="assets/quix.svg" alt="Quix" height="12" class="me-2" />
              <span class="text-nowrap">Look under the hood</span>
            </div>
          </a>
          <a mat-raised-button color="accent" class="small" fxLayout="row" fxLayoutAlign="center center"
            href="https://github.com/quixio/template-predictive-maintenance" target="_blank">
            <div fxLayout="row" fxLayoutAlign="start center">
              <img src="assets/github.svg" alt="Quix" height="16" class="me-2" />
              <span class="text-nowrap">View repo</span>
            </div>
          </a>
        </div>
      </div>
      <div class="mb-5">
        <p>Built with Quix and Grafana</p>
        <div fxLayout="row" fxFlexAlign="start center">
          <img src="assets/quix-logo-black.svg" alt="Quix" height="25" />
          <mat-divider [vertical]="true" class="mx-3 border-dark"></mat-divider>
          <img src="assets/grafana.svg" alt="Redpanda" height="25" />
        </div>
      </div>
      <div class="mb-3">
        <h4 class="mb-2 mat-subtitle-2">Select a printer</h4>
        <p class="text-body mb-3">
          Each “virtual” printer is continuously printing in 8 hour cycles. For each printer,
          the enclosure temperature is programmed to drop at 4h:35s—the failure point.
          <br />
          <br />
          To see forecast update after the failure point,
          select the printer where the progress is currently closest to the failure point.
        </p>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Printers</mat-label>
          <mat-select [formControl]="streamsControl">
            <mat-option *ngFor="let stream of activeStreams$ | async; let i = index" [value]="stream">
              {{ stream.name || stream.streamId }}
              <span class="text-muted" *ngIf="activeStreamsStartTime[i] as startTime">
                (Time to failure: {{ forHumans(startTime, 2) }})
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <h4 class="mb-2 mat-subtitle-2">Tracking the printers’ temperature sensors</h4>
        <p class="text-body mb-3">
          When printing with a heat-sensitive material such as ABS (Acrylonitrile Butadiene Styrene),
          it’s important to ensure that the temperatures remain stable.
          <br />
          <br />
          In the back end, we are simulating real-time data readouts for all three of a 3D printer’s
          temperature sensors for an 8-hour ABS print.
        </p>
        <div fxLayoutAlign="center">
          <img src="assets/printer.png" alt="3D printer" height="300">
        </div>
        <p>
          In our simulation, the enclosure temperature slowly starts to drop about halfway through
          the print (at <b>4hrs 35</b>).
        </p>
        <div fxLayoutAlign="center" class="my-4">
          <img src="assets/chart.png" alt="chart" height="150">
        </div>
        <p>
          You’ll want to know about this before it drops below the acceptable lower temperature
          threshold for ABS.
          <br />
          <br />
          Our demo  forecasting algorithm that attempts to estimate when this is going to happen,
          sends a Slack alert, and displays the alert on a dashboard.
          <br />
          <br />
          For more information on how to use this template, see the
          <a href="https://quix.io/blog/build-deploy-predictive-maintenace-app" target="_blank">accompanying tutorial</a>.
        </p>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="w-100">
    <div fxLayout="column" class="h-100 p-3">
      <div fxLayout="column" fxFlex="33.33" class="chart-section">
        <div fxFlex fxLayout="row" class="overflow-hidden mb-3">
          <div fxLayout="column" fxFlex class="overflow-hidden">
            <h2 class="mb-1">Ambient temperature</h2>
            <div fxFlex fxLayout="row">
              <app-chart fxFlex
                parameterId="ambient_temperature"
                eventId="under-now"
                label="Progress"
                [parameterData]="(printerData$ | async)!"
                [eventData]="(eventData$ | async)!"
                [duration]="1 * 60 * 1000"
                [reset$]="streamsControl.valueChanges"
                [range]="ranges['ambient_temperature']"
                (limitChange)="forecastLimit = $event">
              </app-chart>
              <app-chart fxFlex
                parameterId="forecast_fluctuated_ambient_temperature"
                eventId="under-forecast"
                label="Forecast"
                hiddenAxe="y"
                color="#ff0000"
                [parameterData]="(forecastData$ | async)!"
                [eventData]="(eventData$ | async)!"
                [duration]="4 * 60 * 60 * 1000"
                [reset$]="resetForecast$"
                [range]="ranges['ambient_temperature']"
                [limit]="forecastLimit">
              </app-chart>
            </div>
          </div>
          <div fxFlex="33.33">
            <app-table [data]="(eventData$ | async)!" [eventIds]="['under-forecast', 'under-now']"></app-table>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="33.33" class="chart-section">
        <div fxFlex fxLayout="row" class="overflow-hidden mb-3">
          <div fxLayout="column" fxFlex class="overflow-hidden">
            <h2 class="mb-1">Bed temperature</h2>
            <app-chart fxFlex
              parameterId="bed_temperature"
              label="Progress"
              [parameterData]="(printerData$ | async)!"
              [duration]="2 * 60 * 1000"
              [reset$]="streamsControl.valueChanges"
              [range]="ranges['bed_temperature']">
            </app-chart>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="33.33" class="chart-section">
        <div fxFlex fxLayout="row" class="overflow-hidden mb-3">
          <div fxLayout="column" fxFlex class="overflow-hidden">
            <h2 class="mb-1">Hotend temperature</h2>
            <app-chart fxFlex
              parameterId="hotend_temperature"
              label="Progress"
              [parameterData]="(printerData$ | async)!"
              [duration]="2 * 60 * 1000"
              [reset$]="streamsControl.valueChanges"
              [range]="ranges['hotend_temperature']">
            </app-chart>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
