<div fxLayout="column" class="h-100 overflow-auto">
  <table mat-table [dataSource]="dataSource" class="w-100 mat-caption border-top">
    <ng-container matColumnDef="alerts">
      <td mat-cell *matCellDef="let alert; let i = index">
        <div fxLayout="row" fxLayoutAlign="start center" [class.opacity-25]="alert.disabled">
          <ng-container [ngSwitch]="alert.status">
            <mat-icon class="cursor-pointer me-2 text-danger" [style.minWidth.px]="24" *ngSwitchCase="'printer-finished'">
              highlight_off
            </mat-icon>
            <mat-icon class="cursor-pointer me-2 text-success" [style.minWidth.px]="24" *ngSwitchCase="'no-alert'">
              check_circle
            </mat-icon>
            <mat-icon class="cursor-pointer me-2 text-warning" [style.minWidth.px]="24" *ngSwitchDefault>warning</mat-icon>
          </ng-container>
          <span>{{ alert.message }}</span>
        </div>
      </td>
    </ng-container>
    <tr mat-row *matRowDef="let alert; columns: ['alerts']"></tr>
  </table>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="text-muted" *ngIf="!dataSource.length">
    <span>No alerts to show</span>
  </div>
</div>
